Repository mAmineChniti/accountia-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,css,md,prisma}": ["prettier --write"]
}

fixed oauth
  bun.lock
  package-lock.json
  package.json
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/dto/google-oauth-exchange.dto.ts
  src/auth/dto/user-response.dto.ts
  src/auth/guards/google-auth.guard.ts
  src/auth/guards/google-callback.guard.ts
  src/auth/strategies/google.strategy.ts
Due: eslint --fix, prettier --write

ff
  bun.lock
  package-lock.json
  package.json
  src/auth/auth.service.ts
  src/auth/dto/user-response.dto.ts
  src/auth/dto/users-list.dto.ts
  src/auth/middleware/auth.middleware.ts
  src/auth/types/auth.types.ts
  src/business/business.controller.ts
  src/business/business.module.ts
  src/business/business.service.ts
  src/business/schemas/business-application.schema.ts
  src/business/schemas/business-user.schema.ts
  src/business/schemas/business.schema.ts
  src/common/tenant/current-tenant.decorator.ts
  src/common/tenant/tenant-connection.service.ts
  src/common/tenant/tenant-context.guard.ts
  src/common/tenant/tenant-context.service.ts
  src/common/tenant/tenant.types.ts
Due: eslint --fix, prettier --write

pkg upd
  package-lock.json
Due: prettier --write

fixed a few inconsistencies
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/dto/refresh-response.dto.ts
  src/auth/dto/register.dto.ts
  src/auth/dto/reset-password.dto.ts
  src/auth/dto/update-user.dto.ts
  src/auth/strategies/refresh.strategy.ts
  src/users/schemas/user.schema.ts
Due: eslint --fix, prettier --write

pkg upd
  package-lock.json
  src/auth/email.service.ts
Due: eslint --fix, prettier --write

Platform Administartion
  BACKEND_EMAIL_SETUP.md
  INTEGRATION_EXAMPLE.md
  cleanup-db.js
  drop-atlas-index.js
  drop-bad-index.js
  drop-exact.js
  drop-exact2.js
  fix-index.js
  migrations/fix-business-applications-index.js
  package-lock.json
  src/app.module.ts
  src/audit/audit.controller.ts
  src/audit/audit.module.ts
  src/audit/audit.service.ts
  src/audit/dto/audit-log.dto.ts
  src/audit/schemas/audit-log.schema.ts
  src/auth/auth.service.ts
  src/business/business.controller.ts
  src/business/business.module.ts
  src/business/business.service.ts
  src/business/dto/business-application.dto.ts
  src/business/dto/business-response.dto.ts
  src/business/schemas/business-application.schema.ts
  src/email/dto/send-email.dto.ts
  src/email/email.controller.ts
  src/email/email.module.ts
  src/email/email.service.ts
  src/notifications/notifications.controller.ts
  src/notifications/notifications.module.ts
  src/notifications/notifications.service.ts
  src/notifications/schemas/notification.schema.ts
  test-log.txt
Due: eslint --fix, prettier --write

sprint 5
  TESTING_MULTI_TENANT_ISOLATION.md
  ai_brain.py
  errors.txt
  errors_utf8.txt
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/templates/invoice_reminder.html
  src/business/business.controller.ts
  src/business/business.service.ts
  src/business/dto/business-response.dto.ts
  src/business/dto/update-business.dto.ts
  src/business/schemas/business.schema.ts
  src/business/schemas/invoice.schema.ts
  src/chat/chat.controller.ts
  src/chat/chat.service.ts
  src/email/dto/send-email.dto.ts
  src/email/email.module.ts
  src/email/email.service.ts
  src/invoices/dto/create-invoice.dto.ts
  src/invoices/dto/invoice-response.dto.ts
  src/invoices/invoices.controller.ts
  src/invoices/invoices.module.ts
  src/invoices/invoices.service.ts
  src/invoices/managed-invoices.controller.ts
  src/notifications/notifications.controller.ts
  src/notifications/notifications.service.ts
  src/notifications/schemas/notification.schema.ts
  tsconfig.build.json
Due: eslint --fix, prettier --write

remove files
  errors.txt
  errors_utf8.txt
  test-log.txt
Due: none

Sprint2,4,5
  check-db.js
  output.json
  output2.json
  package-lock.json
  package.json
  src/statistics/statistics.service.ts
Due: eslint --fix, prettier --write

Sprint2,4,5
  package-lock.json
  package.json
Due: prettier --write

fixed pdf gen
  bun.lock
  eslint.config.mjs
  package-lock.json
  package.json
  src/statistics/invoice-pdf.service.ts
  src/statistics/statistics.service.ts
  src/statistics/templates/invoice-base.hbs
Due: eslint --fix, prettier --write

fixed linting
  errs
Due: none

ret ai_brain
  ai_brain.py
Due: none

refactor: await async email and notification operations in business.service
  src/business/business.service.ts
  src/business/schemas/business-user.schema.ts
Due: eslint --fix, prettier --write

docs: add diff file between hibab and master for common files
  hibab_vs_master.diff
Due: none
