Repository mAmineChniti/accountia-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

restore jest conf
  jest.config.js
  package.json
  src/accountant/accountant.service.ts
  src/audit/audit.service.ts
  src/auth/auth.service.ts
  src/auth/strategies/jwt.strategy.ts
  src/auth/strategies/refresh.strategy.ts
  src/business/business.service.ts
  src/business/services/tensorflow-prediction.service.ts
  src/chat/chat.service.ts
  src/common/tenant/tenant-connection.service.ts
  src/common/tenant/tenant-context.service.ts
  src/invoices/services/invoice-issuance.service.ts
  src/invoices/services/invoice-payment.service.ts
  src/invoices/services/recipient-resolution.service.ts
Due: eslint --fix, prettier --write

types to tests
  eslint.config.mjs
  test/accountant.service.spec.ts
  test/company-invoices.e2e-spec.ts
  test/company-invoices.service.spec.ts
  test/invites.e2e-spec.ts
  test/invites.service.spec.ts
  test/invoices.e2e-spec.ts
  test/invoices.service.spec.ts
  test/products.service.spec.ts
  test/statistics.service.spec.ts
Due: eslint --fix, prettier --write

Restore test/jest-e2e.json to match origin/master
  test/jest-e2e.json
Due: prettier --write

fixed invites service test
  test/company-invoices.service.spec.ts
  test/invites.service.spec.ts
Due: eslint --fix, prettier --write

coderabbit based fixes
  test/accountant.e2e-spec.ts
  test/company-invoices.e2e-spec.ts
  test/invites.e2e-spec.ts
  test/invoices.e2e-spec.ts
  test/products.e2e-spec.ts
  test/statistics.e2e-spec.ts
Due: eslint --fix, prettier --write

coderabbit based fixes
  test/accountant.service.spec.ts
  test/invites.service.spec.ts
  test/statistics.service.spec.ts
Due: eslint --fix, prettier --write

coderabbit based fixes
  test/accountant.e2e-spec.ts
  test/accountant.service.spec.ts
  test/company-invoices.e2e-spec.ts
  test/invites.service.spec.ts
  test/invoices.e2e-spec.ts
  test/products.e2e-spec.ts
  test/statistics.e2e-spec.ts
  test/statistics.service.spec.ts
Due: eslint --fix, prettier --write

coderabbit based fixes
  test/invoices.e2e-spec.ts
  test/products.service.spec.ts
Due: eslint --fix, prettier --write

coderabbit based fixes
  bun.lock
  eslint.config.mjs
  package.json
  scratch/clear_cache.ts
  scratch/test_groq.ts
  src/auth/auth.service.ts
  src/business/services/tensorflow-prediction.service.ts
  src/chat/chat.gateway.ts
  src/chat/chat.module.ts
  src/chat/chat.service.ts
  src/invoices/services/invoice-payment.service.ts
Due: eslint --fix, prettier --write

coderabbit based fixes
  src/auth/auth.service.ts
  src/chat/chat.gateway.ts
Due: eslint --fix, prettier --write

coderabbit based fixes
  src/auth/auth.service.ts
Due: eslint --fix, prettier --write

coderabbit based fixes
  src/auth/auth.service.ts
  src/chat/chat.service.ts
  src/invoices/invoices.controller.ts
  src/invoices/services/invoice-payment.service.ts
  src/users/schemas/user.schema.ts
Due: eslint --fix, prettier --write

coderabbit based fixes
  src/chat/chat.gateway.ts
  src/invoices/invoices.controller.ts
  src/invoices/services/invoice-payment.service.ts
Due: eslint --fix, prettier --write

test: verify lint-staged fix
  .lintstagedrc.json
Due: prettier --write

remove .env from repository
  .gitignore
Due: none

merge modules+ fixingexpense scan +bussness inviataion fix and unit tests for differnet modules and removing env error
  src/collections/dto/collections.dto.ts
Due: eslint --fix, prettier --write

accountant consistency
  src/accountant/accountant.controller.ts
  src/accountant/accountant.service.ts
  src/accountant/dto/create-accounting-job.dto.ts
  src/accountant/types/accounting-job.types.ts
  src/auth/auth.service.ts
  src/invoices/services/invoice-payment.service.ts
  test/accountant.service.spec.ts
  test/products.service.spec.ts
Due: eslint --fix, prettier --write

fixed dep issue
  src/chat/chat.module.ts
Due: eslint --fix, prettier --write

tensor rebuild
  package.json
Due: prettier --write

tensor rebuild only in prod
  package.json
Due: prettier --write

fixed health endpoint
  bun.lock
  package-lock.json
  package.json
  src/accountant/accountant.service.ts
  src/common/utils/ocr-document-extraction.util.ts
  src/invoices/invoices.controller.ts
  src/invoices/services/invoice-import.service.ts
  src/products/products.controller.ts
  src/products/products.service.ts
Due: eslint --fix, prettier --write

global logging
  src/common/interceptors/logging.interceptor.ts
  src/main.ts
Due: eslint --fix, prettier --write

feat: reintegrate LoggingInterceptor global from master
  src/main.ts
Due: eslint --fix, prettier --write

integration final
  .env.example
  package-lock.json
  package.json
Due: prettier --write

correct stripe
  package-lock.json
  package.json
  src/business/services/tensorflow-prediction.service.ts
  src/invoices/schemas/invoice-receipt.schema.ts
  src/invoices/services/invoice-payment.service.ts
Due: eslint --fix, prettier --write

add backend unit tests for Audit, Accountant and fix mocks
  sonar-project.properties
  test/accountant.service.spec.ts
  test/audit.service.spec.ts
  test/invoice-payment.service.spec.ts
  test/invoices.service.spec.ts
  test/tensorflow-prediction.service.spec.ts
Due: eslint --fix, prettier --write

ci: add github actions for backend
  .github/workflows/ci.yml
Due: none

ci/cd: add test and build artifact pipelines
  .github/workflows/ci.yml
Due: none

fixing accountant job and taxes
  docs/ACCOUNTANT_MODULE.md
  src/accountant/accountant.controller.ts
  src/accountant/accountant.service.ts
  src/accountant/dto/create-job.dto.ts
  src/accountant/dto/index.ts
  src/accountant/index.ts
  src/accountant/types/accountant-response.ts
  src/accountant/types/accounting-job.types.ts
  src/accountant/types/index.ts
  test/accountant.e2e-spec.ts
  test/accountant.service.spec.ts
Due: eslint --fix, prettier --write

copied sadok work as is
  src/products/products.controller.ts
Due: eslint --fix, prettier --write

pkg upd
  package-lock.json
  src/app.module.ts
Due: eslint --fix, prettier --write

full metrics and fixed health test
  src/invoices/services/invoice-payment.service.ts
Due: eslint --fix, prettier --write

grafana + prometheus
  Dockerfile
  Jenkinsfile
  alert_rules.yml
  alertmanager.yml
  sonar-project.properties
  src/alerts.controller.ts
  src/app.module.ts
Due: eslint --fix, prettier --write

grafana + prometheus
  Jenkinsfile
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: (any of: *.{js,jsx,ts,tsx,mjs}) or (any of: *.{json,css,md,prisma})
