Repository mAmineChniti/accountia-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,mjs}": ["eslint --fix", "prettier --write"],
  "*.{json,css,md,prisma}": ["prettier --write"]
}

grafana + prometheus
  Jenkinsfile
Due: none

grafana + prometheus
  Jenkinsfile
  package-lock.json
Due: prettier --write

grafana + prometheus
  test/jest-e2e.json
Due: prettier --write

grafana + prometheus
  test/jest-e2e.json
  test/mocks/ky.ts
  test/mocks/otplib.ts
Due: eslint --fix, prettier --write

grafana + prometheus
  src/app.module.ts
Due: eslint --fix, prettier --write

grafana + prometheus
  .prettierignore
  Jenkinsfile
Due: none

grafana + prometheus
  Jenkinsfile
  sonar-project.properties
Due: none

grafana + prometheus
  Jenkinsfile
  alert_rules.yml
  alertmanager.yml
  test/cache.service.spec.ts
Due: eslint --fix, prettier --write

Fix all lint errors and rename script
  Facture_INV-2026-0606-011.pdf
  Facture_INV-2026-0606-022.pdf
  Facture_INV-2026-0606-033.pdf
  Facture_INV-2026-0606-044 copy.pdf
  Facture_INV-2026-0606-044.pdf
  Facture_INV-2026-0606-055.pdf
  invoices_import_sample - Copie.csv
  invoices_import_sample - error.csv
  invoices_import_sample.csv
  package-lock.json
  package.json
  products_import_sample error.csv
  products_import_sample.csv
  products_import_sample_faux.csv
  products_import_sample_vrai.csv
  scripts/generate-invoices-pdf.js
  src/auth/auth.service.ts
  src/business/business.controller.ts
  src/business/business.service.ts
  src/business/services/tensorflow-prediction.service.ts
  src/chat/chat.service.ts
  src/common/utils/ai-mapper.util.ts
  src/common/utils/ocr-document-extraction.util.ts
  src/expenses/expenses.controller.ts
  src/expenses/expenses.service.ts
  src/invoices/invoices.controller.ts
  src/invoices/services/invoice-import.service.ts
  src/invoices/services/invoice-issuance.service.ts
  src/invoices/services/invoice-payment.service.ts
  src/invoices/services/invoice-receipt.service.ts
  src/products/products.controller.ts
  src/purchase-orders/purchase-orders.service.ts
  src/vendors/vendors.controller.ts
  test/accountant.service.spec.ts
  tsconfig.json
Due: eslint --fix, prettier --write

ff
  Facture_INV-2026-0606-011.pdf
  Facture_INV-2026-0606-022.pdf
  Facture_INV-2026-0606-033.pdf
  Facture_INV-2026-0606-044 copy.pdf
  Facture_INV-2026-0606-044.pdf
  Facture_INV-2026-0606-055.pdf
  bun.lock
  invoices_import_sample - Copie.csv
  invoices_import_sample - error.csv
  invoices_import_sample.csv
  package-lock.json
  package.json
  products_import_sample error.csv
  products_import_sample.csv
  products_import_sample_faux.csv
  products_import_sample_vrai.csv
  scripts/generate-invoices-pdf.js
  src/business/services/tensorflow-prediction.service.ts
  src/expenses/expenses.service.ts
  src/purchase-orders/purchase-orders.service.ts
  tsconfig.json
Due: eslint --fix, prettier --write

ff
  bun.lock
  package.json
Due: prettier --write

ff
  src/common/utils/ocr-document-extraction.util.ts
  src/invoices/services/invoice-import.service.ts
  src/invoices/services/invoice-issuance.service.ts
  test/accountant.service.spec.ts
Due: eslint --fix, prettier --write

ff
  package-lock.json
Due: prettier --write
