Repository mAmineChniti/accountia-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fixed tenant context guard and products
  src/business/dto/business-user.dto.ts
  src/business/dto/update-business.dto.ts
  src/common/tenant/tenant-context.guard.ts
  src/main.ts
  src/products/dto/product-response.dto.ts
  src/products/dto/update-product.dto.ts
  src/products/products.service.ts
  src/products/schemas/product.schema.ts
Due: eslint --fix, prettier --write

fix: linting and build errors, improve invoice import delimiter handling
  INVOICES_API_DOCS.md
  src/invoices/dto/invoice-import.dto.ts
  src/invoices/invoices.controller.ts
  src/invoices/schemas/invoice.schema.ts
  src/invoices/services/invoice-import.service.ts
Due: eslint --fix, prettier --write

stat update
  src/business/business.service.ts
  src/business/dto/business-statistics.dto.ts
  tsconfig.json
Due: eslint --fix, prettier --write

rm socket io client
  package-lock.json
  package.json
Due: prettier --write

added deps jspdf
  src/business/business.service.ts
  src/business/dto/business-statistics.dto.ts
Due: eslint --fix, prettier --write

TOP 10 Client
  src/invoices/invoices.controller.ts
Due: eslint --fix, prettier --write

correct pull
  package-lock.json
  src/business/business.controller.ts
  src/business/business.module.ts
  src/business/business.service.ts
  src/business/dto/accept-invite.dto.ts
  src/business/dto/business-response.dto.ts
  src/business/dto/invite-member.dto.ts
  src/business/schemas/business-invitation.schema.ts
  src/chat/chat.service.ts
  src/email/dto/send-email.dto.ts
  src/email/email.service.ts
  src/email/templates/business_invitation.html
Due: eslint --fix, prettier --write

fix conflicts
  src/business/business.controller.ts
  src/business/business.service.ts
  src/business/dto/accept-invite.dto.ts
  src/business/dto/invite-member.dto.ts
  src/business/schemas/business-invitation.schema.ts
  src/chat/chat.service.ts
Due: eslint --fix, prettier --write

refactor: remove redundant invoice endpoint aliases
  src/invoices/invoices.controller.ts
Due: eslint --fix, prettier --write

feat: implement PLATFORM_INDIVIDUAL email-based recipient search and comprehensive documentation
  DOCUMENTATION_UPDATES_SUMMARY.md
  INVOICES_API_DOCS.md
  README.md
  src/business/business.controller.ts
  src/common/tenant/tenant-context.guard.ts
  src/invoices/invoices.controller.ts
  src/invoices/services/invoice-issuance.service.ts
  src/products/products.controller.ts
Due: eslint --fix, prettier --write

fixed email confirmation ui, added better audit logs
  .env.example
  INVOICES_API_DOCS.md
  README.md
  bun.lock
  package-lock.json
  package.json
  src/app.module.ts
  src/audit/audit.emitter.ts
  src/audit/audit.module.ts
  src/audit/audit.service.ts
  src/audit/dto/audit-log.dto.ts
  src/audit/schemas/audit-log.schema.ts
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/business/business.controller.ts
  src/business/business.module.ts
  src/business/business.service.ts
  src/business/dto/business-application.dto.ts
  src/business/dto/business-invite.dto.ts
  src/business/dto/business-response.dto.ts
  src/business/dto/business-statistics.dto.ts
  src/business/enums/business-user-role.enum.ts
  src/business/schemas/business-application.schema.ts
  src/business/schemas/business-invite.schema.ts
  src/chat/chat.service.ts
  src/common/tenant/tenant-context.guard.ts
  src/email/email.service.ts
  src/email/templates/business_invite.html
  src/email/templates/email_confirmed.html
  src/invoices/dto/invoice.dto.ts
  src/invoices/invoices.controller.ts
  src/invoices/services/invoice-issuance.service.ts
  src/invoices/services/invoice-receipt.service.ts
  src/products/products.controller.ts
  src/products/products.module.ts
  src/products/products.service.ts
Due: eslint --fix, prettier --write

Delete .env
  .env
Due: none

invitation
  src/business/business.controller.ts
  src/business/business.service.ts
  src/business/dto/business-invite.dto.ts
  src/business/schemas/business-invite.schema.ts
  src/email/email.service.ts
  src/email/templates/business_invite.html
Due: eslint --fix, prettier --write

added tenserflow
  bun.lock
  package.json
  src/business/business.controller.ts
  src/business/business.module.ts
  src/business/business.service.ts
  src/business/dto/business-statistics.dto.ts
  src/business/services/tensorflow-prediction.service.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: resolve linting errors for deployment
  .env.example
  nest-cli.json
  package-lock.json
  package.json
  src/app.module.ts
  src/auth/auth.controller.ts
  src/auth/templates/email_confirmed.html
  src/business/business.controller.ts
  src/business/business.service.ts
  src/business/dto/stripe-onboarding.dto.ts
  src/business/schemas/business.schema.ts
  src/common/tenant/tenant-context.guard.ts
  src/email/email.service.ts
  src/email/templates/invoice_payment_confirmation.html
  src/invoices/dto/invoice-import.dto.ts
  src/invoices/dto/invoice.dto.ts
  src/invoices/invoices.controller.ts
  src/invoices/invoices.module.ts
  src/invoices/services/index.ts
  src/invoices/services/invoice-import.service.ts
  src/invoices/services/invoice-issuance.service.ts
  src/invoices/services/invoice-payment.service.ts
  src/main.ts
  src/notifications/notifications.controller.ts
  src/notifications/schemas/notification.schema.ts
  src/products/dto/stock-insights.dto.ts
  src/products/products.controller.ts
  src/products/products.service.ts
Due: eslint --fix, prettier --write

style: fix formatting for CI/CD
  src/auth/templates/email_confirmed.html
Due: none

pkg upd
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

fixed dependency injection
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
Due: eslint --fix, prettier --write

fmt html
  .lintstagedrc.json
  src/email/templates/business_invite.html
Due: prettier --write

reverted what needs to
  bun.lock
  nest-cli.json
  package.json
  src/auth/auth.controller.ts
  src/auth/templates/email_confirmed.html
  src/common/tenant/tenant-context.guard.ts
  src/invoices/dto/invoice-import.dto.ts
  src/invoices/services/invoice-import.service.ts
Due: eslint --fix, prettier --write

fixed some incon
  src/business/business.controller.ts
  src/business/business.service.ts
  src/invoices/invoices.controller.ts
Due: eslint --fix, prettier --write

integration-IA-invoices
  eslint.config.mjs
  package-lock.json
  package.json
  src/app.module.ts
  src/auth/admin-seeder.service.ts
  src/auth/auth.module.ts
  src/common/utils/ai-structure-fixer.util.ts
  src/invoices/invoices.controller.ts
  src/invoices/invoices.module.ts
  src/invoices/services/invoice-import.service.ts
  src/invoices/services/invoice-issuance.service.ts
  src/products/products.controller.ts
  src/products/products.service.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: (any of: *.{js,jsx,ts,tsx,mjs}) or (any of: *.{json,css,md,prisma})
