Repository mAmineChniti/accountia-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: update diff to exclude README and package files
  hibab_vs_master.diff
Due: none

chore: finalize diff file changes
  hibab_vs_master.diff
Due: none

docs: add filtered diff - source code changes only (68 KB, 2042 lines)
  hibab_vs_master.diff
Due: none

rm diff
  hibab_vs_master.diff
Due: none

docs: comprehensive API documentation audit and completion
  README.md
Due: prettier --write

feat: implement real-time invoice notifications with business room support
  src/business/business.service.ts
  src/business/dto/business-response.dto.ts
  src/business/dto/create-business.dto.ts
  src/business/dto/update-business.dto.ts
  src/business/schemas/business.schema.ts
  src/invoices/invoices.module.ts
  src/invoices/invoices.service.ts
  src/notifications/notifications.gateway.ts
  src/notifications/notifications.module.ts
  src/notifications/schemas/notification.schema.ts
  src/products/schemas/product.schema.ts
Due: eslint --fix, prettier --write

docs: add comprehensive documentation for real-time notifications
  FRONTEND.md
  README.md
  WEBSOCKET_GUIDE.md
Due: prettier --write

docs: remove FRONTEND.md - consolidate all docs in README and WEBSOCKET_GUIDE
  FRONTEND.md
  WEBSOCKET_GUIDE.md
Due: prettier --write

docs: remove WEBSOCKET_GUIDE.md - all content consolidated in README.md
  WEBSOCKET_GUIDE.md
Due: prettier --write

docs: fix broken references to removed WEBSOCKET_GUIDE.md
  README.md
Due: prettier --write

refactor: remove email controller - make email service internal-only
  README.md
  src/email/email.controller.ts
  src/email/email.module.ts
Due: eslint --fix, prettier --write

added products and fixed multitenant invoices
  INVOICES_API_DOCS.md
  src/chat/chat.module.ts
  src/chat/chat.service.ts
  src/invoices/dto/invoice.dto.ts
  src/invoices/enums/index.ts
  src/invoices/enums/invoice-recipient.enum.ts
  src/invoices/enums/invoice-status.enum.ts
  src/invoices/invoices.controller.spec.ts
  src/invoices/invoices.controller.ts
  src/invoices/invoices.module.ts
  src/invoices/invoices.service.spec.ts
  src/invoices/invoices.service.ts
  src/invoices/schemas/company-invoice.schema.ts
  src/invoices/schemas/invoice-receipt.schema.ts
  src/invoices/schemas/invoice.schema.ts
  src/invoices/schemas/personal-invoice.schema.ts
  src/invoices/services/index.ts
  src/invoices/services/invoice-issuance.service.ts
  src/invoices/services/invoice-receipt.service.ts
  src/invoices/services/recipient-resolution.service.ts
Due: eslint --fix, prettier --write

business fix ig
  src/business/business.service.ts
Due: eslint --fix, prettier --write

fixed invoices
  INVOICES_API_DOCS.md
  lint
  src/invoices/dto/invoice-import.dto.ts
  src/invoices/dto/invoice.dto.ts
  src/invoices/invoices.controller.ts
  src/invoices/invoices.module.ts
  src/invoices/invoices.service.ts
  src/invoices/schemas/invoice.schema.ts
  src/invoices/services/index.ts
  src/invoices/services/invoice-import.service.ts
  src/invoices/services/invoice-issuance.service.ts
Due: eslint --fix, prettier --write

fix: add type assertion for xlsx sheet_to_json return type
  src/invoices/services/invoice-import.service.ts
Due: eslint --fix, prettier --write

invoices
  lint
Due: none

invoices
  src/invoices/services/invoice-import.service.ts
Due: eslint --fix, prettier --write

add stat
  package-lock.json
  src/business/business.controller.ts
  src/business/business.service.ts
  src/business/dto/business-statistics.dto.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fixed tenant context guard and products
  INVOICES_API_DOCS.md
  README.md
  package-lock.json
  package.json
  src/auth/auth.service.ts
  src/business/business.controller.ts
  src/business/dto/business-user.dto.ts
  src/business/dto/update-business.dto.ts
  src/common/tenant/tenant-context.guard.ts
  src/invoices/dto/invoice.dto.ts
  src/invoices/invoices.controller.ts
  src/main.ts
  src/products/dto/create-product.dto.ts
  src/products/dto/product-response.dto.ts
  src/products/dto/update-product.dto.ts
  src/products/products.controller.ts
  src/products/products.service.ts
  src/products/schemas/product.schema.ts
Due: eslint --fix, prettier --write

invoices
  package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx,mjs}
  prettier --write: (any of: *.{js,jsx,ts,tsx,mjs}) or (any of: *.{json,css,md,prisma})
