Repository mAmineChniti/accountia-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
	"*.{js,jsx,ts,tsx}": [
		"eslint --fix",
		"prettier --write"
	],
	"*.{json,css,md,prisma}": [
		"prettier --write"
	]
}

using mongodb
  bun.lock
  package.json
  prisma.config.ts
  prisma/schema.prisma
Due: eslint --fix, prettier --write

eslint conf
  .env.example
  .github/dependabot.yml
  .lintstagedrc
  bun.lock
  eslint.config.mjs
  package-lock.json
  package.json
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/main.ts
  test/app.e2e-spec.ts
  tsconfig.json
Due: eslint --fix, prettier --write

lint stg
  .lintstagedrc
Due: none

ci workflow
  .github/workflows/lint-build.yml
  package.json
Due: prettier --write

lnt staged
  .lintstagedrc
Due: none

lnt staged
  .github/workflows/lint-build.yml
  .lintstagedrc
Due: none

lnt staged
  .lintstagedrc.json
Due: prettier --write

auth service
  .env.example
  .lintstagedrc.json
  README.md
  bun.lock
  package-lock.json
  package.json
  src/app.controller.spec.ts
  src/app.controller.ts
  src/app.module.ts
  src/app.service.ts
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/decorators/current-user.decorator.ts
  src/auth/dto/auth-response.dto.ts
  src/auth/dto/fetch-user-by-id.dto.ts
  src/auth/dto/forgot-password.dto.ts
  src/auth/dto/login.dto.ts
  src/auth/dto/refresh-token.dto.ts
  src/auth/dto/register.dto.ts
  src/auth/dto/reset-password.dto.ts
  src/auth/dto/update-user.dto.ts
  src/auth/dto/user-response.dto.ts
  src/auth/email.service.ts
  src/auth/guards/jwt-auth.guard.ts
  src/auth/guards/refresh-jwt.guard.ts
  src/auth/interfaces/auth.service.interface.ts
  src/auth/middleware/auth.middleware.ts
  src/auth/rate-limiting.service.ts
  src/auth/strategies/jwt.strategy.ts
  src/auth/strategies/refresh.strategy.ts
  src/auth/templates/confirmation_email.html
  src/auth/templates/password_reset.html
  src/auth/types/auth.types.ts
  src/main.ts
  src/users/schemas/user.schema.ts
  test/app.e2e-spec.ts
  tsconfig.json
Due: eslint --fix, prettier --write

few fixes
  src/auth/auth.controller.ts
  src/auth/auth.service.ts
  src/auth/dto/register.dto.ts
  src/auth/rate-limiting.service.ts
  src/auth/strategies/jwt.strategy.ts
  src/auth/strategies/refresh.strategy.ts
  src/main.ts
Due: eslint --fix, prettier --write

fixed some auth
  .env.example
  .lintstagedrc.json
  README.md
  src/auth/auth.controller.ts
  src/auth/auth.service.ts
  src/auth/dto/registration-response.dto.ts
  src/auth/dto/resend-confirmation.dto.ts
  src/auth/email.service.ts
  src/auth/templates/email_confirmed.html
  src/common/filters/conflict-exception.filter.ts
  src/main.ts
  src/users/schemas/user.schema.ts
Due: eslint --fix, prettier --write

ret token expiry date
  .env.example
  README.md
  src/auth/auth.controller.ts
  src/auth/auth.service.ts
  src/auth/dto/auth-response.dto.ts
  src/auth/email.service.ts
  src/common/filters/conflict-exception.filter.ts
  src/main.ts
Due: eslint --fix, prettier --write

pkg upd
  bun.lock
  package-lock.json
Due: prettier --write

fixed mongo
  bun.lock
  package.json
  src/auth/auth.controller.ts
  src/auth/auth.service.ts
  src/auth/dto/auth-response.dto.ts
  src/auth/dto/register.dto.ts
  src/auth/dto/update-user.dto.ts
  src/auth/dto/user-response.dto.ts
  src/users/schemas/user.schema.ts
Due: eslint --fix, prettier --write

pkg upd
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

isAdmin
  README.md
  bun.lock
  package-lock.json
  package.json
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/dto/auth-response.dto.ts
  src/auth/dto/user-response.dto.ts
  src/auth/dto/users-list.dto.ts
  src/auth/guards/admin.guard.ts
  src/auth/strategies/jwt.strategy.ts
  src/auth/types/auth.types.ts
  src/users/schemas/user.schema.ts
Due: eslint --fix, prettier --write

fixed users table
  src/auth/auth.controller.ts
  src/auth/auth.service.ts
  src/auth/middleware/auth.middleware.ts
  src/auth/strategies/jwt.strategy.ts
  src/auth/strategies/refresh.strategy.ts
  src/auth/types/auth.types.ts
Due: eslint --fix, prettier --write

feat: user profile update and password change
  package-lock.json
  package.json
  src/auth/2fa.service.ts
  src/auth/auth.controller.ts
  src/auth/auth.module.ts
  src/auth/auth.service.ts
  src/auth/dto/auth-response.dto.ts
  src/auth/dto/register.dto.ts
  src/auth/dto/two-factor.dto.ts
  src/auth/dto/update-user.dto.ts
  src/auth/dto/user-response.dto.ts
  src/auth/email.service.ts
  src/auth/strategies/jwt.strategy.ts
  src/main.ts
  src/users/dto/change-password.dto.ts
  src/users/dto/message-response.dto.ts
  src/users/dto/profile-response.dto.ts
  src/users/dto/update-profile.dto.ts
  src/users/schemas/user.schema.ts
  src/users/users.controller.ts
  src/users/users.module.ts
  src/users/users.service.ts
Due: eslint --fix, prettier --write

feat: user profile update
  src/auth/2fa.service.ts
  src/auth/auth.controller.ts
  src/auth/dto/two-factor.dto.ts
  src/auth/email.service.ts
  src/auth/strategies/jwt.strategy.ts
  src/main.ts
  src/users/dto/profile-response.dto.ts
Due: eslint --fix, prettier --write

fixed admin user delete
  README.md
  src/auth/auth.service.ts
  src/users/schemas/user.schema.ts
Due: eslint --fix, prettier --write

added default avatar
  README.md
  bun.lock
  package-lock.json
  package.json
  src/auth/auth.controller.ts
  src/auth/auth.service.ts
  src/auth/dto/auth-response.dto.ts
  src/auth/email.service.ts
  src/auth/guards/admin.guard.ts
  src/auth/middleware/auth.middleware.ts
  src/auth/strategies/jwt.strategy.ts
Due: eslint --fix, prettier --write

fixing merge conflicts
  bun.lock
  package-lock.json
  package.json
Due: prettier --write

fixing merge conflicts
  package-lock.json
Due: prettier --write

fixing merge conflicts
  README.md
  bun.lock
  package-lock.json
  package.json
  src/auth/auth.service.ts
Due: eslint --fix, prettier --write
